absl-py==2.2.1
accelerate==1.13.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
argcomplete==3.6.2
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
autograd==1.8.0
autograd-gamma==0.5.0
backoff==2.2.1
bcrypt==5.0.0
beautifulsoup4==4.14.3
build==1.4.0
Camelot==12.6.29
certifi==2025.1.31
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.1
chromadb==1.5.1
click==8.2.1
cloudpickle==3.1.1
cloudscraper==1.2.71
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cryptography==46.0.3
cycler==0.12.1
debugpy==1.8.13
decorator==5.2.1
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
durationpy==0.10
Elixir==0.7.1
et_xmlfile==2.0.0
executing==2.2.0
Farama-Notifications==0.0.4
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.56.0
formulaic==1.1.1
frozenlist==1.7.0
fsspec==2025.3.2
ftfy==6.3.1
future==1.0.0
gast==0.6.0
gensim==4.4.0
google-pasta==0.2.0
googleapis-common-protos==1.72.0
grpcio==1.71.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.1.1
h11==0.16.0
h5py==3.13.0
hf-xet==1.2.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface_hub==1.4.1
idna==3.10
img2table==1.4.2
importlib_metadata==8.7.1
importlib_resources==6.5.2
interface-meta==1.3.0
iopath==0.1.10
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
ISLP==0.4.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.12.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kagglehub==0.3.11
keras==3.9.1
keras-tuner==1.4.8
kiwisolver==1.4.8
kt-legacy==1.0.5
kubernetes==35.0.0
langchain-core==1.2.14
langchain-text-splitters==1.1.1
langsmith==0.7.6
layoutparser==0.3.4
libclang==18.1.1
lifelines==0.30.0
lightning-utilities==0.14.3
llama_cpp_python @ file:///C:/Users/canoz/OneDrive/Masa%C3%BCst%C3%BC/TERM%20PROJECT/llama_cpp_python-0.3.16%2Bcuda13.0.sm75.turing-cp311-cp311-win_amd64.whl#sha256=f105fc726d29ab7672437af7d654f4fff3b45101b316c52d0d0aecacf927cfb9
llvmlite==0.44.0
lxml==6.0.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.1
mmh3==5.2.0
mpmath==1.3.0
multidict==6.6.3
mwparserfromhell==0.7.2
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.2
numba==0.61.2
numpy==2.2.6
oauthlib==3.3.1
onnxruntime==1.24.2
openai==2.16.0
opencv-contrib-python-headless==4.13.0.90
opencv-python==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opt_einsum==3.4.0
optree==0.14.1
orjson==3.11.7
overrides==7.7.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
patsy==1.0.1
pbr==7.0.3
pdf2image==1.17.0
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==11.1.0
pipx==1.7.1
platformdirs==4.3.7
polars==1.37.1
polars-runtime-32==1.37.1
portalocker==3.2.0
posthog==5.4.0
progressbar2==4.5.0
prompt_toolkit==3.0.50
propcache==0.3.2
protobuf==5.29.4
psutil==7.0.0
pure_eval==0.2.3
pyarrow==23.0.0
pybase64==1.4.3
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydot==4.0.0
pygam==0.9.1
pygame==2.6.1
pyglet==1.5.1
Pygments==2.19.1
pyparsing==3.2.3
pypdf==6.4.2
pypdfium2==4.30.0
PyPika==0.51.1
pyproject_hooks==1.2.0
pyswarm==0.6
pyswarms==1.3.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-utils==3.9.1
pytorch-lightning==2.5.2
pytz==2025.2
PyVirtualDisplay==3.0
pywin32==310
PyYAML==6.0.2
pyzmq==26.3.0
rank-bm25==0.2.2
referencing==0.37.0
regex==2025.11.3
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.30.0
safetensors==0.7.0
scikit-learn==1.6.1
scipy==1.16.3
seaborn==0.13.2
sentence-transformers==5.2.3
sentencepiece==0.2.1
shap==0.47.2
shellingham==1.5.4
six==1.17.0
slicer==0.0.8
smart_open==7.5.0
sniffio==1.3.1
soupsieve==2.8.3
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.5.5
stack-data==0.6.3
statsmodels==0.14.4
sympy==1.13.1
Tempita==0.6.0
tenacity==9.1.4
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.2
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchmetrics==1.7.4
torchvision==0.21.0+cu124
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==5.2.0
typer==0.24.0
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ucimlrepo==0.0.7
urllib3==2.3.0
userpath==1.9.2
uuid_utils==0.14.1
uvicorn==0.41.0
virtualenv==20.33.0
watchfiles==1.1.1
wcwidth==0.2.13
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.17.2
xgboost==3.0.1
XlsxWriter==3.2.3
xlwt==0.7.2
xxhash==3.6.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.25.0
